<div id="tables">
  <div class="title col-md-10 col-md-offset-1">
<h1>Events</h1>
  </div>
  <div class="row">
    <div class="col-md-12">
  <div class="col-md-10 col-md-offset-1">
  <div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th class="text-center">Date</th>
      <th class="text-center">Durée(min)</th>
      <th class="text-center">Titre</th>
      <th class="text-center">Description</th>
      <th class="text-center">Prix(€)</th>
      <th class="text-center">Ville</th>
      <th class="text-center">Organisateur</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <%= if user_signed_in? then
           link_to 'CREATE A NEW EVENT', new_event_path, class: "btn btn-default btn-primary"
else  link_to 'LOGIN TO CREATE AN EVENT', new_user_session_path, class: "btn btn-default btn-info"end%>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td class="text-center"><%= event.start_date %></td>
        <td class="text-center"><%= event.duration %></td>
        <td class="text-center"><%= event.title %></td>
        <td class="text-center"><%= event.description %></td>
        <td class="text-center"><%= event.price %></td>
        <td class="text-center"><%= event.location %></td>
        <td class="text-center"><%= event.user.email %></td>
        <td><%= link_to 'Show', event, class: 'btn btn-primary btn-xs' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
  </div>
  </div>
    </div>
  </div>
</div>
<br>


