<%= link_to 'EDIT EVENT', edit_event_path(@event), class: "btn btn-default btn-info" %>
<%= link_to 'BACK TO EVENT', root_path, class: "btn btn-default btn-primary" %>
<!-- CHECK IF VISITOR IS ADMIN OR ALREADY BOOKED THE EVENT -->
<% if @is_what == 1 %>
  <%= link_to('VOIR LA LISTE', event_participations_path(@event), class: "btn btn-default btn-info" ) %>

  <% elsif @is_what == 2 %>

<p> Vous participez déjà à cet événement </p>
   <% else %>

  <%= form_tag event_attendances_path(@event) do %>
    <article>
      <% if flash[:error].present? %>
        <div id="error_explanation">
          <p><%= flash[:error] %></p>
        </div>
      <% end %>
      <label class="amount">
        <span>Amount: $5.00</span>
      </label>
    </article>

    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-description="A month's subscription"
            data-amount=<%=@event.price * 100%>
            data-locale="auto"></script>
  <% end %>

<% end %>


<p>
  <strong>Start date:</strong>
  <%= @event.start_date %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @event.duration %>
</p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @event.price %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>User:</strong>
  <%= @event.user %>
</p>

